/* @import url('https://fonts.googleapis.com/css?family=Mulli&display=swap'); */
*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: #5295f1;
    font-family: sans-serif;
    color: #fff;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    flex-wrap: wrap;
}

.circle{
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin: 8px;
    height: 14px;
    width: 14px;
    transition: transform 0.3s linear;
}

.circle.grow{
    transform: scale(2);
}